/* import font here */

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}



/* NAVIGATION BAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
  padding: 2em 1em;
}

.sub-navbar {
  display: flex;
  width: 40%;
  justify-content: space-evenly;
}