@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}



/* NAVIGATION BAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
  padding: 2em 1em;
}

.sub-navbar {
  display: flex;
  width: 40%;
  justify-content: space-evenly;
}


/* INDEX PAGE */
.index {
  background-image: url('./assets/backgrounds/index.png');
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: rgb(131, 209, 183); */
  height: 100vh;
  width: 100%;
  border: 1px red dashed;
}
.index > img {
  width: 100%;
  height: auto;
}

/* For devices smaller than 400px: */
/* body {
  background-image: url('img_smallflower.jpg');
} */

/* For devices 400px and larger: */
/* @media only screen and (min-device-width: 400px) {
  body {
    background-image: url('img_flowers.jpg');
  }
} */