@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

/* MISC  */
.d-flex {
    display: flex;
}


/* INDEX PAGE */
.index {
    background-image: url('../assets/backgrounds/index.png');
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: rgb(131, 209, 183); */
    height: 100vh;
    width: 100%;
}

.index>img {
    width: 100%;
    height: auto;
}

.index-content {
    /* background-color: whitesmoke; */
    margin: 1em 5em;
    max-width: 30em;
    /* border: 1px red dashed; */
}


.start-exploring {
    margin-bottom: 6em;
    padding: .5em 2em;
    text-align: center;
    font-family: 'Bebas Neeue', arial;
    background-color: rgb(255, 237, 136);
    width: 14em;
    border-radius: 12px;
}
.start-exploring:active {
    transform: scale(0.90);
    width: 14.5em;
}

.start-exploring:hover {
    animation-name: explore;
    animation-duration: 0.5s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
}

@keyframes explore {
    from {width: 14em;}
    to {width: 14.5em;}
}

.index-quote {
    border: 1px red dashed;
    margin: 1em 5em;
}