@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

/* MISC  */

.d-flex {
    display: flex;
}

.space-evenly {
    justify-content: space-evenly;
}

.align-center {
    align-items: center;
}



/* NAVIGATION BAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 1em;
}

.navbar>h1 {
    font-family: 'Bebas Neeue', arial;
}

.sub-navbar {
    display: flex;
    width: 40%;
    justify-content: space-evenly;
}