@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

/* MISC  */

.d-flex {
    display: flex;
}

.space-evenly {
    justify-content: space-evenly;
}

.align-center {
    align-items: center;
}



/* NAVIGATION BAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 2em 0;

}

.explore-co {
    font-family: 'Bebas Neue', arial;
    font-size: 40px;
    font-weight: 100;
    margin: 0 2em;
}

.sub-navbar {
    display: flex;
    width: 40%;
    justify-content: space-evenly;
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin-top: 1em;
    /* border: 1px red dashed; */
}

.nav-link {
    text-decoration: none;
    color: black;
}
.nav-link:hover {
    transform: scale(1.03);
    color: grey;
}
.nav-link:visited {
    color: black;
}
.nav-link:active {
    transform: scale(0.97);
    color: grey;
}