@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

/* MISC  */
.d-flex {
    display: flex;
}

/* REGISTER */
.register {
    background-image: url('../assets/backgrounds/register.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.register>img {
    width: 100%;
    height: auto;
}